src/main/mule/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
">

	<flow name="Banking_Portal_Experience_API-main">
        <http:listener config-ref="Banking_Portal_Experience_API-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="Banking_Portal_Experience_API-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="Banking_Portal_Experience_API-console">
        <http:listener config-ref="Banking_Portal_Experience_API-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="Banking_Portal_Experience_API-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\user\info:application\json:Banking_Portal_Experience_API-config">
		<flow-ref doc:name="updateUserInfo" doc:id="dc7522a5-2ce4-4025-99a1-6fc59fdfaf4b" name="updateUserInfo"/>
    </flow>
   
	<flow name="get:\checkssn:Banking_Portal_Experience_API-config">
		<flow-ref doc:name="checkSSN" doc:id="85a5ea23-3b76-4aa1-a8f7-7c8d164b77cb" name="checkSSN"/>
    </flow>
    <flow name="get:\user\transactions\bank\(bankId)\account\(accountId):Banking_Portal_Experience_API-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="9a0446e9-1695-472e-9dc3-7625039ae26c" doc:name="Set Variables bankId and accountId">
            <ee:variables>
                <ee:set-variable variableName="bankId"><![CDATA[attributes.uriParams.bankId]]></ee:set-variable>
                <ee:set-variable variableName="accountId"><![CDATA[attributes.uriParams.accountId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="getTransactionsByAccount" doc:id="c7fa1b53-729c-4b40-9c90-4793e832b7d0" name="getTransactionsByAccount"/>
    </flow>
    <flow name="get:\user\accounts:Banking_Portal_Experience_API-config">
		<flow-ref doc:name="getUserAccounts" doc:id="45b09c6d-5719-4341-9215-9cfc46786760" name="getUserAccounts"/>
    </flow>
    <flow name="get:\user\info:Banking_Portal_Experience_API-config">
		<flow-ref doc:name="getUserInfo" doc:id="66c0b09b-38a9-49fa-a9e5-736f60ed4a29" name="getUserInfo" />
    </flow>
	<flow name="post:\user\register\bank\(bankId):Banking_Portal_Experience_API-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="10d6c354-8799-463b-b4c8-d883787d2a64" doc:name="Set Variable bankId">
            <ee:variables>
                <ee:set-variable variableName="bankId"><![CDATA[attributes.uriParams.bankId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="registerUser" doc:id="95977b80-cc1e-4581-81e8-5a6c4004960a" name="registerUser"/>
    </flow>
    <flow name="post:\user\revoke\bank\(bankId):Banking_Portal_Experience_API-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="6b624de1-59fd-46c0-a7c3-097e07d93fdc" doc:name="Set Variable bankId">
            <ee:variables>
                <ee:set-variable variableName="bankId"><![CDATA[attributes.uriParams.bankId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="revokeUser" doc:id="fe11b65c-4942-44dc-a205-8dda9263308f" name="revokeUser"/>
    </flow>
    <flow name="post:\login:application\x-www-form-urlencoded:Banking_Portal_Experience_API-config">
		<flow-ref doc:name="loginFlow" doc:id="b5ee5a1e-9571-494e-8aa3-bed55c90ed73" name="loginFlow"/>
    </flow>
    <flow name="post:\signup:Banking_Portal_Experience_API-config">
		<flow-ref doc:name="signupFlow" doc:id="fb9db96a-0743-4845-b738-a912a6004ca2" name="signupFlow"/>
    </flow>
</mule>
